{% comment %} code change per 4.1.1 customization {% endcomment %}
{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<Div class="help-center {% unless template == 'page.terms' %} index-section {% endunless %}">

  <div 
  {% comment %} class="page-width" {% endcomment %}
  >

    {%- if section.settings.title != blank -%}
      <header class="section-header">
        <h2 class="section-header__title">
          {{ section.settings.title | escape }}
        </h2>
      </header>
    {%- endif -%}

    {%- if section.blocks.size > 0 -%}

<div class="help-center-wrapper" style="display: flex; margin: 0 auto; min-height: 375px;">

{% comment %} left side - questions {% endcomment %}

{% comment %} FLEX BASIS CHANGES WITH SCREEN WIDTH {% endcomment %}
  <div class="help-center-left" style=" flex-shrink: 0;
    padding-top: 50px;  padding-bottom: 50px;
    background-color: #fff !important;">

    <div style="position:relative;">
    <div class="left-wrapper" style="padding: 50px 50px;  margin-left:auto; max-width: 400px;">
      {%- for block in section.blocks -%}

        <div {{ block.shopify_attributes }} style="max-width: 500px;">
          {% case block.type %}
            {% when 'question'%}
              <div class="faq-section faq-left-{{block.id }}" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                <div id="{% if block.settings.anchor_link != empty %}{{ block.settings.anchor_link }}{% endif %}"></div>
                {% comment %} <div id="{% if block.id contains "55d786e9-0268-406d-a7cd-57aba1658506" %}email-link{% endif %}"></div> {% endcomment %}
                <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls-right="FAQ-content-right-{{ block.id }}" aria-controls="FAQ-content-left-{{ block.id }}">
                  {%- render 'collapsible-icons-alt', no_circle: true -%}
                  <h4><span itemprop="name">{{ block.settings.title }}</span></h4>
                </button>

<div id="FAQ-content-left-{{ block.id }}" class="collapsible-content collapsible-content--all" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
  <div class="collapsible-content__inner collapsible-content__inner--faq rte" style="padding-top:0;" itemprop="text">

                  {% if block.settings.subheading-1 != empty %}
                    <button  type="button" class="collapsible-right-trigger collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="help-content-{{ block.id }}">
                      <h4 class="rte"><a itemprop="name" class="subheading-left" >{{ block.settings.subheading-1 }}</a></h4>
                    </button>
                  {% endif %}
                  {% if block.settings.subheading-2 != empty %}
                    <button  type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-{{ block.id }}">
                      <h4 class="rte"><a itemprop="name" class="subheading-left" >{{ block.settings.subheading-2 }}</a></h4>
                    </button>
                  {% endif %}
                  {% if block.settings.subheading-3 != empty %}
                    <button  type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-{{ block.id }}">
                      <h4 class="rte"><a itemprop="name" class="subheading-left" >{{ block.settings.subheading-3 }}</a></h4>
                    </button>
                  {% endif %}
                  {% if block.settings.subheading-4 != empty %}
                    <button  type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-{{ block.id }}">
                      <h4 class="rte"><a itemprop="name" class="subheading-left" >{{ block.settings.subheading-4 }}</a></h4>
                    </button>
                  {% endif %} 
                  {% if block.settings.subheading-5 != empty %}
                    <button  type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-{{ block.id }}">
                      <h4 class="rte"><a itemprop="name" class="subheading-left" >{{ block.settings.subheading-5 }}</a></h4>
                    </button>
                  {% endif %}
                  {% if block.settings.subheading-6 != empty %}
                    <button  type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-{{ block.id }}">
                      <h4 class="rte"><a itemprop="name" class="subheading-left" >{{ block.settings.subheading-6 }}</a></h4>
                    </button>
                  {% endif %} 
                  {% if block.settings.subheading-7 != empty %}
                    <button  type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-{{ block.id }}">
                      <h4 class="rte"><a itemprop="name" class="subheading-left" >{{ block.settings.subheading-7 }}</a></h4>
                    </button>
                  {% endif %}

                </div>
                </div>

              </div>
          {% endcase %}

        </div>
      {%- endfor -%}

      {% comment %} contact form {% endcomment %}
      <div class="help-contact-box" style="background: #f7f7f7; padding: 25px 25px 40px; margin: 110px 0 40px;">
        <div class="" style=" font-weight: 700; padding-bottom: 10px;">
          <h3>{{ section.settings.contact-help }}</h3>
        </div>
        <div>
          <svg style="  width: 30px; transform: translateY(10px);" class="svg-icon" viewBox="0 0 20 20">
            <path d="M17.388,4.751H2.613c-0.213,0-0.389,0.175-0.389,0.389v9.72c0,0.216,0.175,0.389,0.389,0.389h14.775c0.214,0,0.389-0.173,0.389-0.389v-9.72C17.776,4.926,17.602,4.751,17.388,4.751 M16.448,5.53L10,11.984L3.552,5.53H16.448zM3.002,6.081l3.921,3.925l-3.921,3.925V6.081z M3.56,14.471l3.914-3.916l2.253,2.253c0.153,0.153,0.395,0.153,0.548,0l2.253-2.253l3.913,3.916H3.56z M16.999,13.931l-3.921-3.925l3.921-3.925V13.931z"></path>
          </svg>
          <span style="padding-left: 8px;" class="rte"><a href="#" onclick="Beacon('open');" >hello@vidlogix.com</a></span>
        </div>
      </div>

    </div>
    </div>
  </div>



{% comment %} right side - answers {% endcomment %}
  <div class="help-center-right" style="flex-grow: 1; 
      padding-top: 50px;  padding-bottom: 50px;
      background: top center repeat;
      background-image: url('//cdn.shopify.com/s/files/1/0056/9632/3651/files/help_center_background_d28a5386-e31b-4a16-bc2d-2461e317a7a9.jpg');">
    <div class="right-wrapper" style="padding: 50px 50px; max-width: 1200px;">
    
      {%- for block in section.blocks -%}

      {% comment %} UPS Map popup - am {% endcomment %}
      {% render 'map-popup' %}

        {% comment %} <div {{ block.shopify_attributes }} style="flex-basis: 67%; max-width: 1000px;"> {% endcomment %}
        <div {{ block.shopify_attributes }} >
          {% case block.type %}

            {% when 'question'%}
              <div id="FAQ-content-right-{{ block.id }}" class="collapsible-content collapsible-content--all" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div class="collapsible-content__inner collapsible-content__inner--faq rte" style="padding-top:0;" itemprop="text">


                <div class="faq-section faq-right-{{ block.id }}" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                  <div id="{% if block.settings.anchor_link != empty %}{{ block.settings.anchor_link }}{% endif %}"></div>

  {% comment %} <div class="collapsible-right-container "> {% endcomment %}

  {% comment %} <div id="FAQ-content-{{ block.id }}" class="collapsible-content collapsible-content--all" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"> {% endcomment %}

                    <div class=" collapsible-content__inner collapsible-content__inner--faq rte" itemprop="text">
                    {% comment %} UPS Map popup - am {% endcomment %}
                      {% if block.settings.map_popup %}
                        {% if block.settings.map_text != empty %}
                          {% comment %} custom coded popup - am {% endcomment %}
                          <a id="map-btn" class="" style="cursor: pointer;">{{ block.settings.map_text }}</a> 
                        {% else %}
                          {% comment %} Help Scout Beacon popup - am {% endcomment %}
                          <a href="#" data-beacon-article-modal="62c84d1ad242501d78c628c3">UPS Time in Transit Map</a>
                        {% endif %}
                      {% endif %}

                      {% comment %} {% if block.settings.text-1 != empty %}
                        {{ block.settings.text-1 }}
                      {% endif %} {% endcomment %}

                      
                      <h3 id="" ><span>{{ block.settings.subheading-1 }}</span></h3>
                      {{ block.settings.text-1 }}
                      <h3><span>{{ block.settings.subheading-2 }}</span></h3>
                      {{ block.settings.text-2 }}
                      <span>{{ block.settings.subheading-3 }}</span>
                      {{ block.settings.text-3 }}
                      <span>{{ block.settings.subheading-4 }}</span>
                      {{ block.settings.text-4 }}
                      <span>{{ block.settings.subheading-5 }}</span>
                      {{ block.settings.text-6 }}
                      <span>{{ block.settings.subheading-5 }}</span>
                      {{ block.settings.text-6 }}
                              {% comment %} code added - am. added more text & button to question block{% endcomment %}
                              {% if block.settings.button_chat2  %}
                                <a href="/pages\/contact" class="btn">
                                  {{ block.settings.button_text2 }}
                                </a>
                              {% elsif block.settings.button_link2 != blank %}
                                <a class="btn" href="{{ block.settings.button_link2 }}" class="button">
                                  {{ block.settings.button_text2 }}
                                </a>
                              {% endif %}
                              {% if block.settings.text2 %}{{ block.settings.text2 }}{% endif %}
                    </div>

                  {% comment %} </div> {% endcomment %}

  {% comment %} </div> {% endcomment %}

                </div>

              </div>
              </div>

          {% endcase %}

        </div>
      {%- endfor -%}
    </div>

  </div>

</div>

      
    {%- endif -%}

    {%- if section.blocks.size == 0 -%}
      <div class="placeholder-noblocks">
        {{ 'home_page.onboarding.no_content' | t }}
      </div>
    {%- endif -%}
  </div>
</Div>

{%- if section.settings.divider -%}</div>{%- endif -%}

<style>
  /* Slidewhow Hero Banner */
  .help-center-banner .animation-contents {
    color: #fff;
    font-weight: bold;
  }

  /* FAQ's */
  .help-center {
    padding:0;
    margin:0;
  }

  .help-center h1, .help-center h2, .help-center h3, .help-center h4, .help-center h5 {
    font-family: "Sofia Pro";
  }

  .help-center .collapsible-trigger__icon {
    transform: translateY(-20px);
  }
  .help-center .collapsible-trigger__icon--circle {
    border-color: #ffffff00;
  }

  @media screen and (min-width: 769px) {
    .help-center {
      /*background: top center repeat;
      background-image: url('//cdn.shopify.com/s/files/1/0056/9632/3651/files/help_center_background_2.jpg');*/
    }
  }
  @media screen and (max-width: 768px) {
    .help-center {
      background-image: url('//cdn.shopify.com/s/files/1/0056/9632/3651/files/help_center_background_d28a5386-e31b-4a16-bc2d-2461e317a7a9.jpg');
      /*background-image: linear-gradient(to right, white, white,  #ffffff00, #ffffff00);*/
      /*background-image: linear-gradient(to right, white, white,  #ffffff00), url('//cdn.shopify.com/s/files/1/0056/9632/3651/files/help_center_background_d28a5386-e31b-4a16-bc2d-2461e317a7a9.jpg');*/
    }
  }
  @media screen and (min-width: 1024px) {
    .help-center .help-center-left-wrapper {
      flex-basis: 35%;
    }
  }
  @media screen and (min-width: 1485px) {
    .help-center .help-center-left {
      flex-basis: 490px;
    }
  }
  @media screen and (min-width: 2095px) {
    .help-center .help-center-left {
      flex-basis: calc((100% - (1900px + 180px))/ 2 + 490px);
    }
  }
  .help-center .faq-section {
    border-bottom: 1px solid #cccbcb;
}

</style>

{% schema %}
  {
    "name": "FAQ Help Center",
    "class": "nothing",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Heading",
        "default": "FAQ Help Center."
      },
      {
        "type": "text",
        "id": "contact-help",
        "label": "Contact Us Box",
        "default": "Contact Support"
      },
      {
        "type": "url",
        "id": "contact-link",
        "label": "Contact Us link"
      }
    ],
    "blocks": [
      {
        "type": "question",
        "name": "FAQ",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Heading title",
            "info": "Headings are the 1st level."
          },
          {
            "type": "text",
            "id": "subheading-1",
            "label": "Subheading 1",
            "default": "Subheading title",
            "info": "Subheadings are the indented 2nd level within a Heading."
          },
          {
            "type": "richtext",
            "id": "text-1",
            "label": "Text Response to Subheading 1",
            "default": "<p>Use the text to answer questions</p>"
          },
          {
            "type": "text",
            "id": "subheading-2",
            "label": "Subheading 2",
            "default": "Subheading title"
          },
          {
            "type": "richtext",
            "id": "text-2",
            "label": "Text Response to Subheading 2",
            "default": "<p>Use the text to answer questions</p>"
          },
          {
            "type": "text",
            "id": "subheading-3",
            "label": "Subheading 3",
            "default": "Subheading title"
          },
          {
            "type": "richtext",
            "id": "text-3",
            "label": "Text Response to Subheading 3",
            "default": "<p>Use the text to answer questions</p>"
          },
          {
            "type": "text",
            "id": "subheading-4",
            "label": "Subheading 4",
            "default": "Subheading title"
          },
          {
            "type": "richtext",
            "id": "text-4",
            "label": "Text Response to Subheading 4",
            "default": "<p>Use the text to answer questions</p>"
          },
          {
            "type": "text",
            "id": "subheading-5",
            "label": "Subheading 5",
            "default": "Subheading title"
          },
          {
            "type": "richtext",
            "id": "text-5",
            "label": "Text Response to Subheading 5",
            "default": "<p>Use the text to answer questions</p>"
          },
          {
            "type": "text",
            "id": "subheading-6",
            "label": "Subheading 6",
            "default": "Subheading title"
          },
          {
            "type": "richtext",
            "id": "text-6",
            "label": "Text Response to Subheading 6",
            "default": "<p>Use the text to answer questions</p>"
          },
          {
            "type": "text",
            "id": "subheading-7",
            "label": "Subheading 7",
            "default": "Subheading title"
          },
          {
            "type": "richtext",
            "id": "text-7",
            "label": "Text Response to Subheading 7",
            "default": "<p>Use the text to answer questions</p>"
          },
          {
            "type": "checkbox",
            "id": "map_popup",
            "label": "Link opens UPS map popup.",
            "default": false
          },
          {
            "type": "richtext",
            "id": "map_text",
            "label": "Map Popup Text",
            "default": "<p></p>",
            "info": "Empty text opens Beacon popup. Entered text opens custom popup."
          },
          {
            "type": "url",
            "id": "button_link2",
            "label": "Button link"
          },
          {
            "type": "text",
            "id": "button_text2",
            "label": "Button text",
            "default": "Button text"
          },
          {
            "type": "checkbox",
            "id": "button_chat2",
            "label": "Button launches chat widget. Defaults to Contact page for now",
            "default": false
          },
              {
                "type": "richtext",
                "id": "text2",
                "label": "Text Response",
                "default": "<p>Use the text to answer questions</p>"
              },
          {
            "type": "text",
            "id": "anchor_link",
            "label": "Anchor link keyword"
          }
        ]
      }
    ],
    "presets": [{
      "name": "FAQ",
      "blocks": [
        {
          "type": "question"
        },
        {
          "type": "question"
        }
      ]
    }]
  }
{% endschema %}
